.addProduct {
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    margin-top: 120px;

    .left_product {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;


        h2 {
            font-family: Inter;
            font-weight: 600;
            font-style: Medium;
            font-size: 36px;
            line-height: 30px;
            letter-spacing: 4%;
            color: #000;
        }

        .inp {
            width: 470px;
            height: 82px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            h5 {
                font-family: Poppins;
                font-weight: 400;
                font-style: bold;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0%;
                color: #00000060;

            }

            input {
                font-size: 16px;
                font-weight: 600;
                padding-left: 10px;
                width: 470px;
                height: 50px;
                border: 1px solid #f5f5f5;
                border-radius: 4px;
                background-color: #fafafa;
            }

        }

        button {
            width: 170px;
            height: 50px;
            border-radius: 4px;
            font-family: Poppins;
            font-weight: 500;
            font-style: Medium;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
            color: #f5f5f5;
            background-color: #DB4444;
            border: none;
            cursor: pointer;
        }
    }

    .right_product {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 60px;

        h2 {
            font-family: Inter;
            font-weight: 600;
            font-style: Medium;
            font-size: 34px;
            line-height: 30px;
            letter-spacing: 4%;
            color: #000;
        }
    }

    .product_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 270px;
        height: 350px;
        background-color: #f5f5f5;
        overflow: hidden;
        position: relative;

        .cart {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 270px;
            height: 41px;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            font-family: Poppins;
            font-weight: 500;
            font-style: Medium;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
            color: #fff;
            background-color: #000;
            border: none;
            opacity: 0;
            transform: translateY(100%);
            transition: all 0.3s ease-in-out;
        }

        &:hover .cart {
            opacity: 1;
            cursor: pointer;
            transform: translateX(0);
        }


        img {
            width: 115px;
            height: 180px;
            margin-top: 50px;


        }

        img[alt] {
            font-family: Inter;
            font-weight: 500;
            font-style: Medium;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 2%;
            color: #000000;
        }

        .img {
            width: 270px;


            display: flex;
            justify-content: end;
            position: absolute;


            span {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                margin-right: 10px;

                button {
                    margin-top: 10px;
                    background-color: #fff;
                    width: 34px;
                    height: 34px;
                    border-radius: 50px;
                    border: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                }
            }
        }


        .product_text {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: start;
            height: 84px;
            background-color: #fff;
            width: 100%;

            h4 {
                font-family: Poppins;
                font-weight: 500;
                font-style: Medium;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0%;
                color: #000000;
            }

            .price {
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 5px;
                width: 70%;

                h4 {
                    font-family: Poppins;
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0%;
                    color: #DB4444;
                }


            }

            .stars {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 5px;

                p {
                    font-family: Poppins;
                    font-weight: 600;
                    font-style: SemiBold;
                    font-size: 14px;
                    line-height: 21px;
                    letter-spacing: 0%;
                    color: #00000060;
                }

                .star {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 3px;
                }
            }

        }


    }

}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}